@use 'utils/scss/media';

.wrapper {
  display: none;
}

@include media.medium {
  .wrapper {
    display: block;
    grid-column: 1;
    grid-row: 1 / -1;
    min-height: 755px;
    background-color: var(--primary-color);
  }
}

