@use 'utils/scss/media';

.app {
  display: flex;

  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@include media.small {
  .app {
    .container {
      padding: 0 60px;
    }
  }
}

@include media.medium {
  .dashboard {
    display: grid;
    grid-template-columns: clamp(300px, 30%, 400px) 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    .container {
      grid-column: 2 / 3;
    }
  }
}
